<p>
  <strong>Question:</strong>
  <%= question.body %>
</p>

<p>
  <%= link_to 'Show', question %>
</p>

<p>
  <%= link_to 'Destroy Comment', question ,
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>