<tbody>
  <tr>
    <td><%= gist.id %></td>
    <td><%= gist.user.email %></td>
    <td><%= link_to truncate(gist.question.body, length: 25), admin_question_path(gist.question) %></td>
    <td><%= link_to gist.gist_url, gist.gist_url %></td>
  </tr>
</tbody>
