<h1>Gists list</h1>

<div class="table-resposive">
  <table class="table mt-3">
    <thead>
      <tr>
        <th>ID</th>
        <th>User</th>
        <th>Question</th>
        <th>Gist link</th>
      </tr>
    </thead>

    <%= render @gists %>
  </table>
</div>
<%= link_to 'Back', admin_tests_path %>
