


<div class="row justify-content-center mt-3">
  <div class="col col-md-4">
    <h2><%= t('.header', title: @test_passage.test.title) %></h2>

      <% if @test_passage.success? %>
        <p >Your score <span class="color_green"><%= @test_passage.percentage_of_correct_answers %></span>%. Test passed.</p>
      <% else %>
        <p>Your score <span class="color_red"><%= @test_passage.percentage_of_correct_answers %></span>%. Try again.</p>
      <% end %>

      <%= link_to 'Back to tests', tests_path %>
  </div>
</div>
