<footer>
  <hr>
    <h3>Об авторе сайта Test Guru</h3>
    <p><b>Кокотов Михаил</b></p>
    <%= link_to 'Test-Guru. Ссылка на GitHub автора', github_url('ruuke', 'Test-Guru') %><br>
    <a href="https://thinknetica.com/" target="_blank">Сайт школы Thinknetica</a><br>
    <% if current_user.present? %>
    	<%= link_to 'Обратная связь', new_feedback_url %><br>
	<% end %>
    <%= current_year %>
  <hr>
</footer>