<div id="footer">
  <footer>
    <%= github_url('ruuke', 'Test-Guru', 'Test-Guru') %> &copy; <%= current_year %> |
    <%= link_to 'ENG', lang: :en %> |
    <%= link_to 'RUS', lang: :ru %><br>
    <a href="http://www.thinknetica.com" target="_blank">Thinknetica</a>
  </footer>
</div>
