<div class="progress">
  <div class="progress-bar" id="progress-bar" data-progress="<%= @test_passage.percentage_of_progress %>" aria-valuemax="100">
    <%= @test_passage.percentage_of_progress %>%
  </div>
</div>