<!DOCTYPE>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Функции сайта Test Guru</title>
 </head>
 <body>
   <hr>
   <h1>Функции сайта Test Guru</h1>
   <ul>
    <li>Создние тестов и управление ими</li>
	<li>Аутентификация</li>
	<li>Базовые разграничения прав доступа</li>
	<li>Выполнение тестов</li>
	<li>Публикация результатов в социальных сетях</li>
   </ul>
   <hr>
 </body>

<a href="https://thinknetica.com/">Сайт школы Thinknetica</a>
<p><%= link_to 'На главную страницу', controller: 'welcome' %></p>
