<tr>
  <td ><%= test.title %></td>  
  <td><%= test_level(test) %></td> 
  <td align="center"><%= test_questions_count(test) %></td> 
  <td><%= button_to t('.start'), start_test_path(test) %></td>
</tr>
