<h1>Listing tests</h1>

<table>
  <tr>
    <th>Title</th>    
    <th></th>
  </tr>
  <% @tests.each do |test| %>
    <tr>
      <td><%= test.title %></td>    
      <td><%= link_to 'Show', test_path(test) %></td>  
    </tr>
  <% end %>  
</table>
